header{
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#logo{
    text-decoration: none;
 font-size: 1.5rem;
 font-weight: bold;

}
nav{
display: flex;
gap: 16px;
text-align: right;
}
nav a {
    text-decoration: none;
    font-size: 1.5rem;
}
