*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  overflow: hidden;
  flex-direction: column;
}


form{
  background-color: lightgreen;
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
  height: 35px;
  margin: auto;
    padding: .5px;
    width: 200px;
    background-color: green;
    border-radius: 10px;
    border: 2px solid rgb(0, 255, 0);
    margin: 10px 0px;
    padding-left:10px ;
    outline: none;
    color: white;
}
input::placeholder{
  color: lightgray;
  font-size: 1em;
}
p{
  display: flex;
  flex-direction: column;
  font-weight: bold;

}

/* ADICIONANDO NOVAS ESTILIZAÇÕES */

.novo-usuario {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.novo-usuario a {
  width: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
}